<bookmark content="Personal Information" level="0">
<header>
    <div class="name">
        {% if personalInformation.name is not empty %}
            <h1><bookmark content="Name" level="1">{{ personalInformation.name }}</h1>
        {% endif %}
        {% if personalInformation.headline is not empty %}
            <h2>{{ personalInformation.headline }}</h2>
        {% endif %}
    </div>
    <div class="contacts">
        {% if personalInformation.email is not empty %}
            <div>
                <span class="custom-icon red-color">&#xf0e0;</span>
                <bookmark content="Email" level="1">
                <a href="mailto:{{ personalInformation.email }}">{{ personalInformation.email }}</a>
            </div>
        {% endif %}
        {% if personalInformation.website is not empty %}
        <div>
            <span class="custom-icon red-color">&#xe802;</span>
            <bookmark content="Website" level="1">
            <a href="{{ personalInformation.website }}">{{ personalInformation.website|replace({'https://': ''}) }}</a>
        </div>
        {% endif %}
        {% if personalInformation.phone is not empty  %}
            <div>
                <span class="custom-icon red-color">&#xe801;</span>
                <bookmark content="Phone" level="1">
                <a href="tel:{{ personalInformation.phone }}">{{ personalInformation.phone }}</a>
            </div>
        {% endif %}
    </div>
    <div class="contacts">
        {% if personalInformation.linkedin is not empty  %}
        <div>
            <span class="custom-icon red-color">&#xf30c;</span>
            <bookmark content="Linkedin Profile" level="1">
            <a href="{{ personalInformation.linkedin }}">{{ personalInformation.linkedin|replace({'https://': ''}) }}</a>
        </div>
        {% endif %}
        {% if personalInformation.github is not empty  %}
        <div>
            <span class="custom-icon red-color">&#xf09b;</span>
            <bookmark content="Github" level="1">
            <a href="{{ personalInformation.github }}">{{ personalInformation.github|replace({'https://': ''}) }}</a>
        </div>
        {% endif %}
        {% if personalInformation.location is not empty  %}
            <div>
                <span class="custom-icon red-color">&#xe800;</span>
                <bookmark content="Location" level="1">
                    <span>{{ personalInformation.location }}</span>
            </div>
        {% endif %}
    </div>
</header>